html {
    width: 100%;
    background-color:lightsteelblue;
}

body {
    width: 98%;
    margin: 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font-size: 0.8em;
    text-align: center;
}

header {
    margin: 20px;
    width: 100%;
}

h1 {
    font-size: 2em;
}
