html {
    background-color: #b67987;
}

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9em;
    text-align: Left;
    margin: 20px;
}

header {
    margin: 10px;
    text-align: Left;
    color: #661c37	;
    font-size: 1em;
    padding: 10px;
}

h1 {
    font-size: 2em;
    text-align: Left;
}
