table {
    border-collapse: collapse;
    border: 20px groove gray;
    margin: 1px;
}

th,
td {
    border: 1px solid gray;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

caption {
    caption-side: top;
    text-align: left;
    font-size: 1.5em;
}

table col#firstCol {
    background-color: rgb(98, 107, 228);
    width: 150px;
}

table col#hourCols {
    width: 75px;
}

table thead {
    background-color: rgb(228, 98, 169);
}