table {
    border-collapse: collapse;
    border: 20px groove #46585f;
    width: 88%;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 3px dotted rgba(243, 180, 180, 0.966);
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    color: whitesmoke;
}

th {
    height: 30px;
}

caption {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    caption-side: left;
    text-align: left;
    font-size: 1.5em;
    color:#f7d0cf;
    margin-left: 10px;
    padding-left: 10px;
}

table col#firstCol {
    background-color:#8f3e5c;
    width: 140px;
}

table col#hourCols {
    width: 78px;
}

table thead {
    background-color:#cd6d71;
}

table thead tr {
    height: 25px;
}	