table {
    border-collapse: collapse;
}

table.schedule {
    border: 20px groove #4F69C6;
    margin-left: 20px;
    margin-right: 20px;
}

th,
td {
    border: 3px solid #4F69C6;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

thead {
    background-color: #d1567b;
    color: white;
}

tfoot {
    background-color: #676768;
    color: white;
}

caption {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    caption-side: left;
    text-align: left;
    font-size: 1.5em;
    color: #6456B7;
}

table col#firstCol {
    background-color: #ffd561;
    width: 140px;
}

table col#hourCols {
    width: 78px;
}

td.sleep {
    background-color: #bbbbbb;
}

th.top {
    background-color: rgb(158, 178, 231);
    padding: 10px;
    font-size: 1.5em;
}

td.lunch {
    background-color: rgb(253, 150, 103);
}
